/* image styling tips from https://imagekit.io/blog/how-to-resize-image-in-html/
Accessed 6/7/2024*/
*{
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin-bottom: 5px;
}

button {
    padding: 8px;
    margin: 5px;
    background-color: #58f5bb;
    border-radius: 4px;
}

.submitButton {
    width: 100px;
    height: 40px;
    vertical-align: middle;
}

img {   
    height: 150px;
    width: auto;
    max-height: 100%;
  }

h1 {
    font-weight: bold;
}

td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center; 
    vertical-align: middle;
    width: auto;
}

table {
    width: auto;
    max-width: 1000px;
    margin-top:20px;
}

.operationPicker {
    margin-bottom: 10px;
}
  
